<app-test-label [testId]="test?.id"></app-test-label>

<div class="questions-container">

  <div class="question" *ngFor="let question of questions | async; let i = index" (click)="select(question)">
    <div class="top">
      <div class="index">{{ i + 1 }}</div>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button aria-label="Edit" (click)="edit(question, $event)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Delete" color="warn" (click)="delete(question, $event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <markdown lineNumbers [start]="question.lineNumber" [data]="question.question" *ngIf="question.lineNumber"></markdown>
    <markdown [data]="question.question" *ngIf="!question.lineNumber"></markdown>
    <mat-divider></mat-divider>
  </div>

</div>

<div class="global-add-button">
  <button mat-mini-fab aria-label="Add" (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</div>
