$primary-color: rgb(63, 81, 181);

mat-divider {
  margin: 16px 0;
}

.numbers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-color;
}
.current-question {
  font-size: 150%;
}
.total-question {
  font-size: 150%;
}
.answered-points, .student-points, .question-points {
  font-size: 150%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exam-finished {
  font-size: 120%;
  padding: 8px;
  margin: 16px 0;
  background-color: rgb(240, 216, 172);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  .exam-student-points, .exam-total-points, .exam-percent {
    font-size: 120%;
    margin: 0 2px;
  }

  .exam-percent {
    font-weight: 900;
  }

  .text {
    color: rgba(0,0,0,0.54);
    margin: 0 4px;
  }

  .student-name {
    font-weight: 900;
  }
}


.answer-label {
  margin-bottom: 16px;
}

.answer-line {
  display: flex;
  flex-direction: row;
  align-items: center;

  .question-type {
    padding: 8px;
    color: $primary-color;
  }
  .answer-result {
    padding: 8px;
  }
}

.primary {
  color: $primary-color;
}
.correct {
  color: green;
}
.missed {
  color: red;
}
.wrong {
  color: red;
}

