@import '~src/app-theme-variables';

.answers {
  padding: 8px 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.radio-button {
  margin: 8px;
}

.buttons {
  margin: 0 0 16px 0;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.checkbox-button {
  margin-left: 8px;
}

.points-container {
  background-color: $accent;
  color: $accent-text;
  margin: 8px 0;
  .points {
    padding: 12px;
  }
  .explanation {
    padding: 12px;
  }
}

