.answers {
  padding: 8px 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.radio-button {
  margin: 8px;
}

.buttons {
  margin-top: 16px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.checkbox-button {
  margin-left: 8px;
}
