<div *ngIf="!working">
  <markdown lineNumbers [start]="question.lineNumber" [data]="question.question" *ngIf="question.lineNumber"></markdown>
  <markdown [data]="question.question" *ngIf="!question.lineNumber"></markdown>

  <mat-divider></mat-divider>

  <div class="points-container">
    <div *ngIf="pointsWorking">
      <mat-spinner diameter="20"></mat-spinner>
    </div>
    <div *ngIf="!pointsWorking && points">
      <div class="points"><span translate>Points</span>: {{ points.points }} / {{ question.points }} </div>
    </div>
  </div>

  <div class="answers">

    <div *ngIf="question.type === TextType">
      <mat-form-field>
        <mat-label translate>Answer</mat-label>
        <input class="answer-text" type="text" matInput [(ngModel)]="answers">
      </mat-form-field>
    </div>

    <div *ngIf="question.type === RadioType">
      <label class="label" translate>Answer</label>
      <mat-radio-group class="radio-group" [(ngModel)]="answers">
        <mat-radio-button color="primary" class="radio-button" *ngFor="let answer of question.answers" [value]="answer">
          <span class="answer-text">{{ answer }}</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="question.type === CheckType">
      <label class="label" translate>Answers</label>
      <div *ngFor="let answer of question.answers" class="checkbox-group">
        <mat-checkbox color="primary" class="checkbox-button" [checked]="answers.includes(answer)" (change)="onChange(answer)">
          <span class="answer-text">{{ answer }}</span>
        </mat-checkbox>
      </div>
    </div>

  </div>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="ok()"><span translate>OK</span></button>
  </div>

</div>

