@import '~src/app-theme-variables';

.exam-container {
  padding: 0 16px;
}

mat-divider {
  margin: 16px 0;
}

.finished-container {
  display: flex;
  flex-flow: column;

  .finished {
    background-color: $accent;
    color: $accent-text;
    padding: 12px;
    margin-bottom: 12px;
    text-align: center;
  }
}
