$primary-color: rgb(63, 81, 181);

.answers {
  padding: 8px 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.radio-button {
  margin: 8px;
}

.buttons {
  display: flex;
  margin-top: 16px;

  button {
    margin: 0 4px;
  }
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.checkbox-button {
  margin-left: 8px;
}

mat-divider {
  margin: 16px 0;
}

.done {
  background-color: green;
  color: white;
  div {
    padding: 12px;
  }
}

.numbers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-question {
  font-size: 150%;
}
.total-question {
  font-size: 150%;
}
.answered-questions {
  margin: 0 4px;
  .answered-number {
    font-size: 150%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.exam-finished {
  font-size: 150%;
}
