@import './app-theme';
@import './markdown';

// other styles
* {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; }

pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: pre;
}

.global-add-button {
  position: fixed;
  bottom: 12px;
}

.answer-block {
  display: flex;
  flex-direction: row;
  align-items: center;

  .answer-number {
    margin-right: 16px;
    font-size: 80%;
  }

  .answer-text {
    margin: 0;
    font-weight: 900;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.top-progress-bar-working {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
