@import './app-theme';


// other styles
* {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; }

.global-add-button {
  position: fixed;
  bottom: 12px;
}

markdown {
  code {
    display: inline-block
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.top-progress-bar-working {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

