.app-label-container {
  // padding-bottom: 12px;
  margin-bottom: 12px;

  .app-label-label {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.54);
  }

  .app-label-value {
    padding-top: 4px;
  }
}
